$main-font-family: 'Roboto', sans-serif;

$prime-color: #000000;
$second-color: #FFFFFF;
$accent-color: #FF6B08;
$footer-color:  #F7F7F7;
$footer-second-color: #545454;
$modal-second-color: #8C8C8C;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

